{% extends "base.html" %}

{% block title %}Dashboard - AlmostFS{% endblock %}

{% block content %}
<style>
  @media (min-width: 992px) {
    .col-custom-38 { flex: 0 0 38%; max-width: 38%; }
    .col-custom-24 { flex: 0 0 24%; max-width: 24%; }
  }
</style>

<div class="container-fluid mb-5">
  <div class="row">

    <div class="col-lg-3 mb-4">
      {% include 'projects/sidebar.html' %}
    </div>

    <div class="col-lg-9">
      
      {% include 'projects/search_bar.html' %}

      {% include 'projects/header.html' %}
      
      {% include 'todos/calendar_panel.html' %}

      <div class="row">
        <div class="col-md-6 mb-4 col-custom-38">
          {% include 'todos/todo_panel.html' %}
        </div>

        <div class="col-md-6 mb-4 col-custom-38">
          {% include 'documents/document_panel.html' %}
        </div>

        <div class="col-md-12 mb-4 col-custom-24">
          {% include 'projects/comments_panel.html' %}
        </div>
      </div>
    </div> 
  </div>
</div>

{% include 'projects/modals.html' %}
{% include 'todos/modals.html' %}

{% endblock %}