{% extends "base.html" %}

{% block title %}Dashboard - AlmostFS{% endblock %}

{% block content %}
<div class="container-fluid mb-5">
  <div class="row">

    <div class="col-lg-3 mb-4">
      {% include 'projects/sidebar.html' %}
    </div>

    <div class="col-lg-6 mb-4">
      
      {% include 'projects/search_bar.html' %}
      {% include 'projects/header.html' %}
      {% include 'todos/calendar_panel.html' %}

      <div class="row">
        <div class="col-xl-6 mb-4">
          {% include 'todos/todo_panel.html' %}
        </div>
        <div class="col-xl-6 mb-4">
          {% include 'documents/document_panel.html' %}
        </div>
      </div>

    </div> 

    <div class="col-lg-3 mb-4">
      {% include 'projects/comments_panel.html' %}
    </div>

  </div>
</div>

{% include 'projects/modals.html' %}
{% include 'todos/modals.html' %}

{% endblock %}